### ingest data from ers dataset ###

In [11]:
dataset_id = 'ers_staging'

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'alert-result-266803:ers_staging' successfully created.

In [12]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Education \
'gs://bucket_mbayh_dataset2/Education.csv'

Waiting on bqjob_r453fad854ef25668_000001717bcad450_1 ... (2s) Current status: DONE

In [17]:
!bq --location=US load --autodetect --skip_leading_rows=3 \
--source_format=CSV {dataset_id}.Population \
'gs://bucket_mbayh_dataset2/PopulationEstimates.csv'

Waiting on bqjob_red0e101d959beaa_000001717bcca55c_1 ... (4s) Current status: DONE

In [19]:
!bq --location=US load --autodetect --skip_leading_rows=5 \
--source_format=CSV {dataset_id}.Poverty \
'gs://bucket_mbayh_dataset2/PovertyEstimates.csv'

Waiting on bqjob_r74b544c0507a1ad1_000001717bcda36c_1 ... (1s) Current status: DONE

In [20]:
!bq --location=US load --autodetect --skip_leading_rows=5 \
--source_format=CSV {dataset_id}.Unemployment \
'gs://bucket_mbayh_dataset2/Unemployment.csv'

Waiting on bqjob_r174dc2ea909ed1aa_000001717bcdb06d_1 ... (1s) Current status: DONE

### sample records ###

Education

In [15]:
%%bigquery
select * from ers_staging.Education where State = 'AL'
limit 5

,FIPS_Code,State,Area_name,__High_School,High_School_Only,Some_College,College,__High_School__,High_School_Only__,Some_College__,College__
0,1021,AL,Chilton County,5302,13125,7147,4219,17.8,44.1,24.0,14.2
1,1041,AL,Crenshaw County,2091,3753,2326,1505,21.6,38.8,24.0,15.6
2,1101,AL,Montgomery County,21646,38289,41976,48131,14.4,25.5,28.0,32.1
3,1019,AL,Cherokee County,3692,7157,5417,2407,19.8,38.3,29.0,12.9
4,1051,AL,Elmore County,7594,18304,16197,13664,13.6,32.8,29.0,24.5

Population

In [18]:
%%bigquery
select * from ers_staging.Population where State = 'AR'
limit 5

,FIPS,State,Area_Name,Rural_urban_Continuum_Code_2003,Rural_urban_Continuum_Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018
0,5133,AR,Sevier County,7,6,11,6,3,17058,17059,...,3.8,-7.3,-2.3,-8.7,3.9,-4.6,-13.2,-23.4,2.9,-8.1
1,5121,AR,Randolph County,7,7,11,9,0,17969,17970,...,13.0,19.4,1.3,-6.1,-10.4,-1.1,-5.3,2.3,12.4,18.8
2,5137,AR,Stone County,9,9,9,9,0,12394,12396,...,7.0,-0.1,11.9,6.9,-5.4,0.8,3.7,12.8,6.1,-1.0
3,5025,AR,Cleveland County,3,3,2,2,0,8689,8692,...,-5.8,-20.1,0.1,-9.1,-8.6,-12.7,-11.5,0.7,-5.8,-20.1
4,5039,AR,Dallas County,6,6,6,6,0,8116,8122,...,-4.5,-22.7,-0.7,-7.9,-3.0,-20.4,-16.8,-13.8,-4.5,-22.7

Poverty

In [22]:
%%bigquery
select * from ers_staging.Poverty where Stabr = 'AZ'
limit 5

,FIPStxt,Stabr,Area_name,Rural_urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural_urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,...,string_field_37,string_field_38,string_field_39,string_field_40,string_field_41,string_field_42,string_field_43,string_field_44,string_field_45,string_field_46
0,4000,AZ,Arizona,NaN,NaN,NaN,NaN,990291,970614,1009968,...,None,None,None,None,None,None,None,None,None,None
1,4013,AZ,Maricopa County,1.0,1.0,1.0,1.0,535183,516969,553397,...,None,None,None,None,None,None,None,None,None,None
2,4021,AZ,Pinal County,1.0,1.0,1.0,1.0,54399,46963,61835,...,None,None,None,None,None,None,None,None,None,None
3,4019,AZ,Pima County,2.0,2.0,2.0,2.0,164927,155454,174400,...,None,None,None,None,None,None,None,None,None,None
4,4005,AZ,Coconino County,3.0,2.0,3.0,2.0,20964,18175,23753,...,None,None,None,None,None,None,None,None,None,None

Unemployment

In [23]:
%%bigquery
select * from ers_staging.Unemployment where State = 'CA'
limit 5

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,_Civilian_labor_force_2007_,_Employed_2007_,_Unemployed_2007_,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,6000,CA,California,NaN,NaN,NaN,17893080,16931590,961490,5.4,...,19205295,18285492,919803,4.8,19398212,18582802,815410,4.2,75250,100.0
1,6001,CA,"Alameda County, CA",1.0,1.0,1.0,745198,710144,35054,4.7,...,840239,809372,30867,3.7,848215,822769,25446,3.0,101744,135.2
2,6013,CA,"Contra Costa County, CA",1.0,1.0,1.0,514317,490220,24097,4.7,...,559243,537814,21429,3.8,564570,546778,17792,3.2,101463,134.8
3,6017,CA,"El Dorado County, CA",1.0,1.0,1.0,90382,85707,4675,5.2,...,89928,86007,3921,4.4,91589,88319,3270,3.6,81869,108.8
4,6037,CA,"Los Angeles County, CA",1.0,1.0,1.0,4864160,4614776,249384,5.1,...,5096516,4853818,242698,4.8,5136341,4896512,239829,4.7,67986,90.3